.text {
    overflow-wrap: break-word;
}

.noComment {
    color: #aaa;
}

.button {
    cursor: pointer;
}

.button:hover {
    color: #aaa;
}

.subCommentsVisible {
    display: flex;
    padding-left: 25px;
}

.subCommentsHidden {
    display: none;
}
