.details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    color: #aaa;
    font-size: 9.5pt;
}

@media screen and (max-width: 390px) {
    .column {
        flex-direction: column;
    }
}