.card {
    display: grid;
    padding: 25px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    color: #aaa;
    font-size: 9.5pt;
}
